
target
ideatarget
.target
bin
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/



*.class
*.log

*.iml
.idea

boot/

.bloop/
.metals/
metals.sbt
project/metals.sbt